<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>MammaMia</title>
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        
        <article>
                <figure>
                    <img src="https://tofuu.getjusto.com/orioneat-local/resized2/WXeWx5fLG6zxz73Jj-1400-x.webp" height="650" alt="Inicio"/>
                </figure> 
            </article>
        
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
